<md-content flex layout-align="left">

  <md-list>

    <div layout="row" flex class="commenthead">

      <h3 flex="70">Comments</h3>
      <div flex>
        <a ng-click="display.displayform=true">Add Comment</a>
      </div>

    </div>

    <form 
      id="commentForm" 
      flex 
      class="addcomment" 
      name="commentForm" 
      ng-submit="commentForm.$valid && display.save()"
      ng-show="display.displayform"
      novalidate>

      <md-input-container class="md-block">
        <label>Comment</label>
        <textarea 
          ng-required="true" 
          ng-model="display.comment" 
          columns="1" 
          md-maxlength="100"
          rows="3">
        </textarea>
      </md-input-container>

      <div class="text-right">
        <md-button 
          type="submit" 
          class="md-raised md-primary" 
          aria-label="Save candidate">
          Save
        </md-button>
        <md-button 
          class="md-raised md-primary" 
          aria-label="Cancel" 
          ng-click="display.displayform=false">
          Cancel
        </md-button>
      </div>

    </form>

    <md-list-item class="md-3-line" ng-repeat="data in display.comments">
      <div layout="row" flex>

        <div flex="70" class="md-headline">
          <div class="md-list-item-text" layout-align="space-between stretch">
            <h3>{{data.author}}</h3>
            <p class="textcolorgray">{{data.comment}}</p>
          </div>

          <div ng-if="data.editing">
            <form 
              id="form" 
              name="commentEditForm" 
              ng-submit="commentEditForm.$valid && display.saveComment(data)" 
              novalidate>

              <md-input-container class="md-block">
                <label for="comment-edit">Comment</label>
                <textarea 
                  ng-required="true" 
                  ng-model="data.comment" 
                  columns="1" 
                  md-maxlength="100" 
                  rows="3"
                  id="comment-edit">
                </textarea>
              </md-input-container>

              <div class="text-right">

                <md-button 
                  type="submit" 
                  class="md-raised md-primary" 
                  aria-label="Save comment">
                  Save
                </md-button>

                <md-button 
                  class="md-raised md-primary" 
                  aria-label="Cancel" 
                  ng-click="data.editing = false">
                  Cancel
                </md-button>
              </div>
            </form> 
          </div>

        </div>

        <div layout="row" layout-align="end center" class="md-caption">
          <p>Last contacted {{data.timestamp}}</p>

          <md-button 
            class="md-warn" 
            ng-click="data.editing = !data.editing">
            <md-icon>mode_edit</md-icon>
          </md-button>

        </div>
      </div>
    </md-list-item>

  </md-list>

</md-content>