<md-content flex layout-align="left">

  <md-list>

    <div layout="row" flex class="commenthead">

      <h3 flex="70">Comments</h3>
      <div flex>
        <a ng-click="display.newComment.editing = true">Add Comment</a>
      </div>

    </div>

    <form 
      id="commentAddForm" 
      flex 
      class="addcomment" 
      name="commentAddForm" 
      ng-submit="commentAddForm.$valid && display.newComment.save()"
      ng-show="display.newComment.editing"
      novalidate>

      <md-input-container class="md-block">
        <label>Comment</label>
        <textarea 
          ng-required="true" 
          ng-model="display.newComment.comment" 
          columns="1" 
          md-maxlength="100"
          rows="3">
        </textarea>
      </md-input-container>

      <div class="text-right">
        <md-button 
          type="submit" 
          class="md-raised md-primary" 
          aria-label="Save candidate">
          Save
        </md-button>
        <md-button 
          class="md-raised md-primary" 
          aria-label="Cancel" 
          ng-click="display.newComment.editing = false">
          Cancel
        </md-button>
      </div>

    </form>

    <md-list-item class="md-3-line" ng-repeat="data in display.comments">
      <div layout="row" flex>

        <div flex="70" class="md-headline">
          <div class="md-list-item-text" layout-align="space-between stretch">
            <h3>{{data.author}}</h3>
            <p class="textcolorgray">{{data.comment}}</p>
          </div>
        </div>

        <div layout="row" layout-align="end center" class="md-caption">
          <p>Last contacted {{data.createdAt}}</p>
        </div>
      </div>
    </md-list-item>

  </md-list>

</md-content>