
<div ng-cloak="" class="fire-list">
    <div class="fire-list">
      <md-list>
        <div ng-repeat="user in main.users">
          <md-list-item class="md-3-line md-whitepaper-1dp">
            <img ng-src="{{user.avatar || '/images/avatar.jpg'}}" class="avatar" alt="{{user.firstName}} {{user.lastName}}" />
            <div class="md-list-item-text"  layout-align="space-between stretch">

              <div layout="row" flex>

                <div flex="70" class="md-headline">
                  <a href="#/details/{{user.id}}" class="fire-list-headline">{{user.firstName}} {{user.lastName}}</a>
                </div>

                <p flex>
                <div layout="row" layout-align="end center" class="md-caption">
                  Last contacted {{user.lastContact | date :'fullDate'}}
                </div>
                </p>

              </div>

              <div layout="row" flex>
                <h4 ng-bind="user.shortDescription" flex></h4>
              </div>

            </div>

          </md-list-item>
          <md-divider ng-if="!$last"/>
       </div>
      </md-list>
    </div>
    <md-button
        href="#/add/new"
        class="md-fab md-primary md-hue-2 add-candidate"
        aria-label="Add candidate"
        id="btn-add">
      <md-icon>person_add</md-icon>
    </md-button>
</div>
