.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

#main-header {
  background-color: #EF501F;
}

.header-headline {
  height: 65px;
}

.align-headline {
  margin-top: 5px;
}

#logo {
  text-decoration: none;
  color: white;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 700px;
}

.fire-list-headline {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.870588);
}

.comment-link {
  font-size: 0.8em;
  color: #a5a5a5;
}

.nav-links {
  text-align: right;
  padding: 15px;
  margin: 0 !important;
}

.fire-list h1 {
  margin: 0;
}

.fire-list h1 a {
  color: #000;
}

.avatar {
  width: 100%;
  max-width: 100px;
  max-height: 100px;
  margin: 8px;
}

.avatar.avatar-lg {
  max-width: 200px;
  max-height: 200px;
}

a:hover {
  text-decoration: none;
}

.add-candidate {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.add-candidate a {
  color: #eee;
  font-size: 4em;
  position: relative;
  top: -6px;
  left: 1px;
  text-decoration: none;
}

#btn-add {
  background-color: #EF501F;
}

/*
Login page CSS
*/
.login-required button.google-sign-in {
    display: block;
    background: #dc4e41;
    color: white;
}

.login-required .login-message{
    display: block;
}
/*
Login page CSS ends
*/

/*
Candidates page CSS
*/
.border-bottom-none{
  background-image: none !important;
}
.short-description{
  margin-left: 36px;
}
comments md-list{
  padding: 0 !important;
}
/*
Candidates page CSS ends
*/
/*
Image-dir css
*/
.circle
{
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  margin: 8px;
  font-size:40px;
  color:#fff;
  line-height:100px;
  text-align:center;
  background-color:#EF501F
}
/*
End Image-dir css
*/

/*
Details page css
*/
.detailsRouteSection{
  position: fixed !important;
  top: 70px;

}
.inputdemoIcons .md-button{
  min-width:24px !important;
}
/*
End Details page css
*/
/*
Comments Page
*/
.commenthead{
  padding: 0px 16px;

}
.commenthead a{
  display: block;
  color: rgba(0,0,0,0.26);
  margin: 1em 0;
}
.textcolorgray{
  display: block;
  color: rgba(0,0,0,0.26) !important;
}
.addcomment{
  margin: 20px 0px;
  padding: 0px 16px;
  width: 80%;
}
/*
End comments page
*/

/*
Candidate add/edit form begins
 */
.avatar-upload {
  position: relative;
  min-width: 120px;
  min-height: 120px;
  width: 100%;
}

.avatar-upload span,
.avatar-upload img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  cursor: pointer;
}

.avatar-upload span {
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  text-align: center;
  opacity: 0;
  padding: 5px 0px;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
}

.avatar-upload:hover span {
  opacity: 1;
}

.candidate-form > .left {
  float: left;
  width: 20%;
  max-width: 200px;
  text-align: center;
}

.candidate-form > .right {
  float: left;
  width: 80%;
}
/*
Candidate add/edit form ends
 */

.comment {
  background-color: #f2f2f2;
}

.add-comment {
  background-color: #EF501F !important;
}
